In [1]:
import pandas as pd

In [2]:
# no need for "resources because the file is in the same folder as the py_bank panda file"
csv_path = "budget_data.csv"
py_bank_df = pd.read_csv(csv_path)
py_bank_df.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [3]:
# how many months 
months_py_bank_df = py_bank_df["Date"].count()
months_py_bank_df

86

In [4]:
net_total_df = py_bank_df["Profit/Losses"].sum()
net_total_df

38382578

In [9]:
# py_bank_max = py_bank_df['Profit/Losses'].max()
# py_bank_min = py_bank_df['Profit/Losses'].min()

# average_change = (py_bank_max - py_bank_min)/months_py_bank_df
# average_change

# diff gives the differendce in PL and gthe means gives the average
# py_bank_df["Profit/Loss Diff"] = py_bank_df["Profit/Losses"].diff()
# profit_loss_average = profit_loss_diff.mean()
# profit_loss_average
Difference = py_bank_df["Profit/Losses"].diff(+1)
py_bank_df["Difference"] = Difference
py_bank_df.head()

       Date  Profit/Losses  Profit/Loss Diff  Difference
0  Jan-2010         867884               NaN         NaN
1  Feb-2010         984655          116771.0    116771.0
2  Mar-2010         322013         -662642.0   -662642.0
3  Apr-2010         -69417         -391430.0   -391430.0
4  May-2010         310503          379920.0    379920.0

In [21]:
greatest_increase = py_bank_df["Difference"].max()
print("$", greatest_increase, py_bank_df.loc[py_bank_df["Difference"]==1926159, "Date"])

$ 1926159.0 25    Feb-2012
Name: Date, dtype: object

In [43]:
greatest_decrease = round(py_bank_df["Difference"].min(),2)
print("$", greatest_decrease, py_bank_df.loc[py_bank_df["Difference"]==-2196167, "Date"])

$ -2196167.0 44    Sep-2013
Name: Date, dtype: object

In [37]:
average_change = round(py_bank_df["Difference"].mean(),2)
print("$", average_change)

$ -2315.12

In [48]:
print("Total Months:", months_py_bank_df)
print("Total","$", net_total_df )
print("Average Change:", "$", average_change)
print("Greatest decrease in Profit:","$", greatest_decrease, py_bank_df.loc[py_bank_df["Difference"]==-2196167, "Date"])
print("Greatest increase in Profit:", "$", greatest_increase, py_bank_df.loc[py_bank_df["Difference"]==1926159, "Date"])

Total Months: 86
Total $ 38382578
Average Change: $ -2315.12
Greatest decrease in Profit: $ -2196167.0 44    Sep-2013
Name: Date, dtype: object
Greatest increase in Profit: $ 1926159.0 25    Feb-2012
Name: Date, dtype: object